@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'
);


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.logo {
    position: relative;
    position: absolute;
    right: 200px;
    margin: 0 0 70px 0;
    color: #0073ff;
    font-weight: 600;
    font-size: 4em;
    letter-spacing: 3px;
    text-decoration: none;
}

.box {
    position: absolute;
    left: -300px;
    position: relative;
    width: 400px;
    height: 520px;
    background-image: linear-gradient(to left, #3891ff, #0073ff, #3891ff);
    border-radius: 15px;
    box-shadow: 0px 0px 17px 0px black;
    margin: 0 0 50px 0;
}

.box h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    color: white;
}

form {
    padding: 0 40px;
}

form .txt_field {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #000000;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #000000;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    transform: scale(0.8);
    left: -10px;
    color: white;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.FP {
    margin: -5px 0 20px 5px;
    color: #000000;
    cursor: pointer;

}

.FP:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid #0073ff;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    background-color: #102a4a;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

input[type="submit"]:hover {
    border-color: white;
}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.signup a {
    text-decoration: none;
    color: #000000;
}

.signup a:hover {
    text-decoration: underline;
}

.OR {
    position: relative;
    display: flex;
    justify-content: center;
    width: 26px;
    left: 150px;
    top: 39px;
    background-color: #0073ff;
}

hr {
    background-color: white;
}

.icons {
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.icons a {
    color: white;
    transition: 0.5s;
}

.icons a:hover {
    text-shadow: 0 0 25px white;

}


.logo span {
    position: absolute;
    bottom: -1px;
    left: 47px;
    font-size: 0.2em;
    color: #0073ff;
    letter-spacing: 5px;
}

@media (max-width:1100px) {
    body {
        background: #2b2b2b;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        align-items: flex-end;
    }

    .logo {
        position: relative;
        position: absolute;
        right: -3px;
        margin: 0 0 70px 0;
        color: #0073ff;
        font-weight: 600;
        font-size: 3em;
        letter-spacing: 3px;
        text-decoration: none;
    }

}